##### Windows #####
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
link/alt-1.lnk
link/alt-2.lnk
link/alt-3.lnk
link/alt-4.lnk
link/alt-5.lnk
link/alt-6.lnk
link/alt-7.lnk
link/alt-8.lnk
link/alt-9.lnk
link/alt-0.lnk
#link/alt-a.lnk
link/alt-b.lnk
#link/alt-c.lnk
link/alt-d.lnk
link/alt-e.lnk
link/alt-f.lnk
link/alt-g.lnk
link/alt-h.lnk
link/alt-i.lnk
link/alt-j.lnk
link/alt-k.lnk
link/alt-l.lnk
link/alt-m.lnk
link/alt-n.lnk
link/alt-o.lnk
link/alt-p.lnk
link/alt-q.lnk
link/alt-r.lnk
link/alt-s.lnk
link/alt-t.lnk
link/alt-u.lnk
link/alt-v.lnk
link/alt-w.lnk
link/alt-x.lnk
link/alt-y.lnk
link/alt-z.lnk

link/win-1.lnk
link/win-2.lnk
link/win-3.lnk
link/win-4.lnk
link/win-5.lnk
link/win-6.lnk
link/win-7.lnk
link/win-8.lnk
link/win-9.lnk
link/win-0.lnk
link/win-a.lnk
link/win-b.lnk
#link/win-c.lnk
link/win-d.lnk
link/win-e.lnk
link/win-f.lnk
link/win-g.lnk
link/win-h.lnk
link/win-i.lnk
link/win-j.lnk
link/win-k.lnk
link/win-l.lnk
link/win-m.lnk
link/win-n.lnk
link/win-o.lnk
link/win-p.lnk
link/win-q.lnk
link/win-r.lnk
link/win-s.lnk
link/win-t.lnk
link/win-u.lnk
link/win-v.lnk
link/win-w.lnk
link/win-x.lnk
link/win-y.lnk
link/win-z.lnk

